*{
	border:0;
	padding: 0;
}
header{
	display: flex;
}
#logo{
	background-image: url(../imgs/Logo_cabecera.png);
	min-width: 358px;
	height: 126px;
}
#eslogan{
	background-image: url(../imgs/eslogan.png);
	background-position: -400px 40px;
	width: 500px;
	height: 153px;
}
#idiomas a{
	text-decoration: none;
}

.messages {
 color: #FA787E;
}
form.ng-submitted input.ng-invalid{
border-color: #FA787E;
} 
form input.ng-invalid.ng-touched {
border-color: #FA787E;
}
  /*
    form input.ng-valid.ng-touched {
      border-color: #78FA89;
    }
  */  