*{
	margin:0;
	padding: 0;
}
header{
	display: flex;
	justify-content:space-between;
}
#logo{
	background-image: url(../imgs/Logo_cabecera.png);
	min-width: 358px;
	height: 126px;
}
#eslogan{
	background-image: url(../imgs/eslogan.png);
	background-position: -400px 40px;
	width: 500px;
	height: 153px;
}
#idiomas a{
	text-decoration: none;
}

.messages {
 color: #FA787E;
}
form.ng-submitted input.ng-invalid{
border-color: #FA787E;
} 
form input.ng-invalid.ng-touched {
border-color: #FA787E;
}
  /*
    form input.ng-valid.ng-touched {
      border-color: #78FA89;
    }
  */ 
  
  
  /* resumenempresa_view */
 
 #cuadro{
	border: black 1px solid;
}

#cuadro h1{
	border: black 1px solid;
} 
/*Buscador buscador buscador */ 
.contenedorBuscador{
	width:80%;
	position:relative;
	display: flex;
	margin: auto;
	border: 1px solid black;
	height: 40px;
}
.texto{
	flex: 10;
	border:1px solid blue;
}
.contenedorBotones{
	position:relative;
	cursor: pointer;
	width:10%;
	border:1px solid blue;
}
.contenedorBotonesEtiqueta{
	position:relative;
}
.elemento{
	display:none;
	cursor: pointer;
	width:100%;
	border:1px solid blue;
}
.mostrarListaEtiqueta, .mostrarLista{
	position:absolute;
	width:200%;
	left:-50%;
}
.contenedorBotones:hover .elemento{
	display:block;
}
.contenedorBotonesEtiqueta:hover .elemento{
	display:block;
}
.contenedorBotonesEtiqueta{
	cursor: pointer;
	width:5%;
	border:1px solid blue;
}
.selector{
	height:100%;
	background-color:red;
	overflow:hidden;
}
.elemento{
	border:1px solid blue;
	width: auto;
}
.elemento:hover{
	background-color : #FA787E;
}
.inputTexto{
	width:90%;
	height:100%;
	margin:0;
	padding:0;
	border:0;
	display:inline-block;
}
