
.salida input[type="text"]{
	width: 350px;
}
.salida input[type="number"]{
	width: 350px;
}
#tabla{
	border: solid 1px green;
	vertical-align: middle;
	margin-left: 30%;
	margin-right: 30%;
	/*ancho*/
	width: 800px;
	/*alto*/
	height 500px;
	margin-left: auto;
  	margin-right: auto;
  	padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
  	border: 3px green solid;
  	background-color: #BCF5A9;
  	
}
 .button{ 
    font-size:12px; 
    font-family:Verdana,Helvetica; 
    font-weight:bold; 
    color:#0000FF; 
    background:#A4C1FF; 
    border:0px; 
    width:120px; 
    height:25px; 
}
  
  .button:hover
  {
  background: #365D9D;
  background: linear-gradient(left, #365D9D, #436CAD);
  background: -moz-linear-gradient(left, #365D9D, #436CAD);
  background: -webkit-linear-gradient(left, #365D9D, #436CAD);
  background: -o-linear-gradient(left, #365D9D, #436CAD);
  color: #FFFFFF;
  border-color: #FBFFAD;
  }
  #boton{
  	vertical-align:bottom;
  	text-align:center;
  }
  #boton p{
  	color: red;
  }
  #bloque h1{
  	text-align: center;
	font-family: fantasy;
	color: #229954;
	margin-bottom: 7px;
  	
  }
