#botones{
	vertical-align: bottom;
 	text-align: center;
 	margin-top: 20px;
} 
 
 .button{ 
    font-size:12px; 
    font-family:Verdana,Helvetica; 
    font-weight:bold; 
    color:#0000FF; 
    background:#A4C1FF; 
    border:0px; 
    width:120px; 
    height:25px; 
}
  
  .button:hover
  {
  background: #365D9D;
  background: linear-gradient(left, #365D9D, #436CAD);
  background: -moz-linear-gradient(left, #365D9D, #436CAD);
  background: -webkit-linear-gradient(left, #365D9D, #436CAD);
  background: -o-linear-gradient(left, #365D9D, #436CAD);
  color: #FFFFFF;
  border-color: #FBFFAD;
  }
 #bloque{
 	vertical-align: middle;
 	border: solid 1px black;
 } 
 #contenido{
 	border:solid 4px green;
 	vertical-align: middle;
 	margin-left: 25%;
 	margin-right: 25%;
 	text-align:center;
 	background-color: #BCF5A9;
 	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	-webkit-box-shadow: 7px 9px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 7px 9px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 7px 9px 5px 0px rgba(0,0,0,0.75);
 }
 form input[type="text"], input[type="password"]{
 	text-align:center;
 	margin: 3px;
 }
 #bloque h1{
 	text-align: center;
	font-family: fantasy;
	color: #229954;
	margin-bottom: 7px;
 }
 
