#botones{
	vertical-align: bottom;
 	text-align: center;
 	margin-top: 20px;
} 
 
 .button{ 
    font-size:12px; 
    font-family:Verdana,Helvetica; 
    font-weight:bold; 
    color:white; 
    background:#FF8000; 
    border:0px; 
    width:120px; 
    height:25px; 
}
  
  .button:hover
  {
  background: #FF00FF;
  background: linear-gradient(left, #FF00FF, #436CAD);
  background: -moz-linear-gradient(left, #FF00FF, #436CAD);
  background: -webkit-linear-gradient(left, #FF00FF, #436CAD);
  background: -o-linear-gradient(left, #FF00FF, #436CAD);
  color: #FFFFFF;
  border-color: #FBFFAD;
  }
 #bloque{
 	vertical-align: middle; 	
 } 
 #contenido{
 	/*border:solid 4px black;*/
 	border: solid 4px blue;
 	vertical-align: middle;
 	margin-left: 25%;
 	margin-right: 25%;
 	text-align:center; 	
 	background-color:#A9E2F3 ;
 	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	-webkit-box-shadow: 7px 9px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 7px 9px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 7px 9px 5px 0px rgba(0,0,0,0.75);
	padding: 0;
  margin: 0;
  list-style: none;  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  -webkit-flex-flow: row wrap;
  align-items:center;
  justify-content: center;
  
  flex-direction: row ;
	
 }
 #reg{
 	border:solid 4px #229954;
 	vertical-align: middle;
 	margin-left: 25%;
 	margin-right: 25%;
 	text-align:center;
 	background-color: #BCF5A9;
 	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	-webkit-box-shadow: 7px 9px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 7px 9px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 7px 9px 5px 0px rgba(0,0,0,0.75);
 }
 .nueva{
 	align:right;
 }
 form input[type="text"], input[type="password"]{
 	text-align:center;
 	margin: 3px;
 }
 #bloque h1{
 	text-align: center;
	font-family: fantasy;
	color: #229954;
	margin-bottom: 7px;
 }
 /* contiene los dos bloques*/
 #contenedor{
  padding: 0;
  margin: 0;
  list-style: none;  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  -webkit-flex-flow: row wrap;
  align-items:center;
  justify-content: center;
  flex-direction: row ;
  text-align: center; 
 }
 .hijo{
 	width: 500px;
 	height: 100px;
 	padding-top: 20px; 	
 }
 #separar{
 	padding-top:15px;
 }
 
