a{
	text-decoration:none;
}

.navegador{
	text-decoration:none;
	color:#5C2684;
	list-style:none;
	display:flex;
	width:80%;
	margin:Auto;
	height:40px;
	align-items:center;
	justify-content:center;
}
.contenedor{
	line-height: 100%;
	height:100%;
	flex:1;
	margin:2px;
	position:relative;
	text-align:center;
	
}
.contenedor:hover .contenedorElementos{
	display:block;
	-webkit-transition: height 0.5s; /* Safari */
    transition: height 0.5s;
    height:70px;
	max-height:auto;
	/*border:1px solid black;*/
}
.contenedorElementos{
	-webkit-transition: height 0.5s; /* Safari */
    transition: height 0.5s;
	width:100%;
	position:absolute;
	height:0px;
	max-height:auto;
	overflow:hidden;
}
.elemento{
	border:none;
	margin:1px;
	display:block;
	z-index:9999;
	background-color:#F9B000;
}
.elemento:hover{
	background-color:#EC612B;
}
.selector{
	cursor:default;
	background-color:#F9B000;
	display: flex;
	align-items:center;
	justify-content:center;
}
#notificaciones{
	cursor:pointer;
}
.divNgView{
	display:flex;
	flex-wrap:wrap;
	margin:auto;
	width:80%;
	
	margin-top:1em;
}
.compartimento{
	flex:1;
	min-width:300px;
	text-align:center;
	margin:2px;

	
}
.titulo{
	border-bottom: 5px solid;
	width:100%;
	text-align:center;
	background: rgba(255,255,255,1);
	-moz-linear-border-image: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 7%, rgba(0,172,212,1) 51%, rgba(255,255,255,1) 93%, rgba(255,255,255,1) 100%);
	-webkit-border-image: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(0%, rgba(255,255,255,1)), color-stop(7%, rgba(255,255,255,1)), color-stop(51%, rgba(0,172,212,1)), color-stop(93%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
	-webkit-border-image: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 7%, rgba(0,172,212,1) 51%, rgba(255,255,255,1) 93%, rgba(255,255,255,1) 100%);
	-o-border-image: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 7%, rgba(0,172,212,1) 51%, rgba(255,255,255,1) 93%, rgba(255,255,255,1) 100%);
	-ms-border-image: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 7%, rgba(0,172,212,1) 51%, rgba(255,255,255,1) 93%, rgba(255,255,255,1) 100%);
	border-image: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 7%, rgba(0,172,212,1) 51%, rgba(255,255,255,1) 93%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
	border-image-slice: 1;
}
.iconos{
	display:flex;
	position:relative;
	justify-content:space-around;
}
.elementoRepetible{
	display:flex;
	color:white;
	padding-left:10px;
}
.elementoRepetible >div,.elementoRepetible >form{
	margin-top:1px;
	padding-bottom:3px;
	border: 4px solid;
}
.elementoRepetible>form{
	background-color: #63B32E;
	border-color: #489317;
}
.elementoRepetible> div:nth-child(8n+1),.elementoRepetible >div:nth-child(8n+1) input{
	background-color: #63B32E;
	border-color: #489317;
}
.elementoRepetible >div:nth-child(8n+2),.elementoRepetible >div:nth-child(8n+2) input{
	background-color: #009B3E;
	border-color: #007E33;
}
.elementoRepetible> div:nth-child(8n+3),.elementoRepetible >div:nth-child(8n+3) input{
	background-color: #5C2684;
	border-color: #46156A;
}
.elementoRepetible >div:nth-child(8n+4),.elementoRepetible >div:nth-child(8n+4) input{
	background-color: #B7398E;
	border-color: #AB197B;
}
.elementoRepetible >div:nth-child(8n+5),.elementoRepetible >div:nth-child(8n+5) input{
	background-color: #E6007C;
	border-color: #D10072;
}
.elementoRepetible >div:nth-child(8n+6),.elementoRepetible >div:nth-child(8n+6) input{
	background-color: #E4013B;
	border-color: #B2002D;
}
.elementoRepetible >div:nth-child(8n+7),.elementoRepetible >div:nth-child(8n+7) input{
	background-color: #EC612B;
	border-color: #C5420E;
}
.elementoRepetible >div:nth-child(8n+8),.elementoRepetible >div:nth-child(8n+8) input{
	background-color: #F9B000;
	border-color: #C38A00;
}
.elementoInterno input{
	color:white;
}
i:hover{
	cursor:pointer;
	transform: scale(1.2);
}

/***Animaiciones***/

.animate-repeat {
  line-height:30px;
  list-style:none;
  box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition:all linear 0.3s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:200px;
}
.animate-repeat.ng-enter-stagger {
  transition-delay: 0.3s;
  animation-delay: 0.3s;
}

/**Dar baja Alumno**/
.alumno,.empresa,.idiomas, .familias, .categoria{
	display:flex;
	flex-wrap:wrap;
	min-width:200px;
	flex:1;
}
.idiomas .elementoInterno{
	min-width: auto;
	display:flex;
	flex-direction:column;
}
.familias .elementoInterno{
	min-width:100px;
	display:flex;
	flex-direction:column;
}
.elementoInterno{
	flex:1 ;
	
	min-width:250px;
	max-width: 100%;
	padding-left:3px;
}
.empresa .elementoInterno{
	min-width:290px;
}

.iconoInterno{
	width:100%;
	display:flex;
	justify-content:flex-end;
}
.iconoInternoCentro{
	width:100%;
	display:flex;
	bottom:0;
	align-self:flex-end;
	justify-content:center;
}
.ponerAbajo{
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	height:100%;
}
.iconoInternoAbajo{
	/*width:auto;
	margin:auto;*/
	
	display:flex;
	flex-direction:column;
	
}
.animate-repeat-horizontal {
  line-height:30px;
  list-style:none;
  box-sizing:border-box;
}
form.elementoInterno{
	display: flex;
	flex-wrap:wrap;
	padding:3px;
	border: 4px solid;
}
.buscadorInterno{
	width:100%;
	display:flex;
}
.buscadorInterno > *{
	flex:1;
	border:none;
	background-color:#63B32E;
}
.buscadorInterno > input{
	border:1px solid #489317;
}
.paginas{
	display:flex;
	justify-content:space-between;
	width:100%;
}

/**idiomas**/
.dosPartes{
	width:100%;
	display:flex;
	flex-wrap:wrap;
}
.dosPartes > idiomas,.dosPartes >div{
	flex:1;
}
.agregarIdiomas{
	display:inline-block;
	margin:30px 0 auto 10px;
	border-radius: 10px;
	overflow:hidden;
	padding-top:7px;
}
.agregarIdiomas input{
	border:none;
	border-bottom:1px solid black;
}
.animate-repeat-horizontal.ng-move,
.animate-repeat-horizontal.ng-enter,
.animate-repeat-horizontal.ng-leave {
  transition:all linear 1s;
}

.animate-repeat-horizontal.ng-leave.ng-leave-active,
.animate-repeat-horizontal.ng-move,
.animate-repeat-horizontal.ng-enter {
  opacity:0;
  max-width:0;
}

.animate-repeat-horizontal.ng-leave,
.animate-repeat-horizontal.ng-move.ng-move-active,
.animate-repeat-horizontal.ng-enter.ng-enter-active {
  opacity:1;
  max-width:800px;
}
.animate-repeat-horizontal.ng-enter-stagger {
  transition-delay: 0s;
  animation-delay: 0.1s;
}