#tabla{
	
	
}
#tabla a{
	text-decoration: none;
	color: #0080FF;
}
#ofertas{
	border:3px solid blue;
	/* fondo azul para alumnos */
  	background-color: #A9E2F3;
  	width: 60%;
  	margin-left: 20%;
	/*padding-left:10px;*/
	padding: 10px;
	margin-bottom: 10px;				
}
#tabla h1{
	text-align: center;
	font-family: fantasy;
	color: #0080FF;
	margin-bottom: 7px;
}
.button{ 
    font-size:12px; 
    font-family:Verdana,Helvetica; 
    font-weight:bold; 
    color:#0000FF; 
    background:#A4C1FF; 
    border:0px; 
    width:120px; 
    height:25px; 
}
  
  .button:hover
  {
  background: #365D9D;
  background: linear-gradient(left, #365D9D, #436CAD);
  background: -moz-linear-gradient(left, #365D9D, #436CAD);
  background: -webkit-linear-gradient(left, #365D9D, #436CAD);
  background: -o-linear-gradient(left, #365D9D, #436CAD);
  color: #FFFFFF;
  border-color: #FBFFAD;
  }
  #botones{
	vertical-align: bottom;
 	text-align: center;
  	
}	

