
#nueva{
	height: 100px;
}
#botoneditar{
	vertical-align: bottom;
 	text-align: center;
}
/*
#mediano{
	padding-left:20%;
  	border:1px solid black;
	vertical-align:middle;
}*/

/* padre de cuadro */
#mediano{
	 display: flex;
  	justify-content: center;
 	 align-items: center;
  	 /*margin-left: auto;
 	 margin-right: auto;*/
 	 border: solid 1px black;
}

.cuadro{
	border: black 1px solid;
	height: 55%;
	width: 55%;
	/*margin: auto;*/
	/*background-color: #259B51;*/
	background: rgba(37, 155, 81,0.2);
	
}


.cuadro h1{
	border: green 4px solid;	
}

#oferta{
	width: 80%;
	
}
#oferta a, #nueva a{
	text-decoration:none;
	color: black;
}
#botones{
	vertical-align: bottom;
 	text-align: center;
}
/*
 .button
  {
  border: 1px solid #DBE1EB;
  font-size: 13px;
  font-family: Arial, Verdana;
  position: bottom;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  background: #4972B5;
  background: linear-gradient(left, #4972B5, #618ACB);
  background: -moz-linear-gradient(left, #4972B5, #618ACB);
  background: -webkit-linear-gradient(left, #4972B5, #618ACB);
  background: -o-linear-gradient(left, #4972B5, #618ACB);
  color: #FFFFFF;
  } */
  
 
 .button{ 
    font-size:12px; 
    font-family:Verdana,Helvetica; 
    font-weight:bold; 
    color:#0000FF; 
    background:#A4C1FF; 
    border:0px; 
    width:120px; 
    height:25px; 
}
  
  .button:hover
  {
  background: #365D9D;
  background: linear-gradient(left, #365D9D, #436CAD);
  background: -moz-linear-gradient(left, #365D9D, #436CAD);
  background: -webkit-linear-gradient(left, #365D9D, #436CAD);
  background: -o-linear-gradient(left, #365D9D, #436CAD);
  color: #FFFFFF;
  border-color: #FBFFAD;
  }
  #grande{
  	margin-bottom: 15%;
  	
  }
  
  
